@import "tailwindcss";
@import "tw-animate-css";

/* @custom-variant dark (&:is(.dark *)); */


:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

@theme inline {
  --color-mt-primary:#00a769;
  --color-blur: #f6f7fb;
  --color-mt-orange: #FFF2E7;
  --color-mt-orange-200: #E0731E;
  --color-mt-orange-250: #FFDABD;
  --color-orange-150:#AB701C4D;
  --color-orange-850:#AB701C;
  --color-orange-880:#915C0F;
  --color-mt-blue-110:#CCBFEA4D;
  --color-mt-blue-880:#40179E;
  --color-mt-green-100:#116A3B33;
  --color-mt-green-880:#116A3B;
  --color-mt-gray-550: #9a9a9a;
  --color-mt-gray-300: #f9f9f9;
  --color-mt-gray-680: #f5f5f5;
  --color-mt-gray-910: #ffffff4f;
  --color-mt-border:#D0D0D0;
  --color-mt-hover: #E5E9F2;
  --color-mt-gray-800: #dfdfdf;
  --color-mt-gray-400: #f7f7f7;
  --color-mt-gray-250: #ececec;
  --color-mt-shadow-black: #00000026;
  --color-mt-black-100: #333333;
  --color-mt-shadow-gray: #d2d7ef99;
  --color-mt-gray-skeleton: #E6E7EA;
  --text-mt-normal: 13px;
  --text-mt-lg: 12px;
  --color-grey-700:#364153;
  --text-mt-xl: 14px;
  --color-mt-gray-200: #dadada;
  --color-mt-blue: #1a489d;
  --color-active-mt-blue: #e4f1ff;
  --color-mt-blue-100: #285585;
  --color-mt-blue-200: #DEEEFB;
  --color-mt-blue-250: #DEEEFB80;
  --color-mt-blue-300: #1558A3;
  --text-mt-md: 11px;
  --color-normal-gray: #494949;
  --color-mt-gray-150: #C4C4C4;
  --color-disable: #f0f0f0;
  --color-gray-890: #8590a2;
  --color-yellow: #e69f39;
  --color-light-green: #0fb6a9;
  --color-green-900: #09645D;
  --color-blue-100: #C9E0F9;
  --color-light-mt-blue: #5a69bc;
  --color-light-gray: #f1f2f4;
  --color-mt-gray-500: #343A40;
  --color-orange: #ce5e26;
  --color-orange-900: #683013;
  --color-purple: #7e3d9b;
  --color-purple-900: #2B1535;
  --color-grey: #9c9c9c;
  --color-neutral: #f6f7fb;
  --color-neutral-200: #808080;
  --color-cross-gray: #525252;
  /* --color-mt-gray-220:#FAFAFA; */
  --color-mt-gray-230: #E5E5E5;
  --color-mt-orange: #FFF2E7;
  --color-mt-orange-200: #E0731E;
  --color-mt-orange-250: #FFDABD;
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}